.main{
  border: 2px green;
  padding: 2%;
  display: flex;
  flex-direction: row;
}
h2{
  color: brown;
}
a{
  color: brown;
  font-size: 20px;
  word-wrap: break-word;
}
.left{
  border: 2px solid orange;
  padding: 2%;
  margin: 2%;
  width: 30%;
  text-align: center;
}
#name{
  color: purple;
  font-size: 30px;
  text-align: center;
}
.left img{
  width: 50%;
  border-radius: 50%;
  border: 2px solid blue;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.right{
  border: 2px solid red;
  padding: 2%;
  margin: 2%;
  width: 70%;
}
@media only screen and (min-width:0px) and (max-width:480px){

.main{
  border: 2px green;
  padding: 2%;
  display: flex;
  width: 100%;
  flex-direction: column;
}
h2{
  color: brown;
}
a{
  color: brown;
  font-size: 20px;
  word-wrap: break-word;
}
.left{
  border: 2px solid orange;
  padding: 2%;
  margin: 2%;
  width: 90%;
  text-align: center;
  background-color: lightgreen;
  font-size: 30px;
}
#name{
  color: purple;
  font-size: 30px;
  text-align: center;
}
.table1{
  width: 90%;
  overflow-x: auto;
}
.left img{
  width: 50%;
  border-radius: 50%;
  border: 2px solid blue;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.right{
  border: 2px solid red;
  padding: 2%;
  margin: 2%;
  width: 90%;
  background-color: orange;
  font-size: 30px;
}
}
